<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JH.ACU.BLL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <JH.ACU.BLL.Properties.Settings>
            <setting name="LowTemp" serializeAs="String">
                <value>-40</value>
            </setting>
            <setting name="NorTemp" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="HighTemp" serializeAs="String">
                <value>85</value>
            </setting>
            <setting name="TempEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Duration" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="LowVolt" serializeAs="String">
                <value>9.5</value>
            </setting>
            <setting name="NorVolt" serializeAs="String">
                <value>13.5</value>
            </setting>
            <setting name="HighVolt" serializeAs="String">
                <value>16.5</value>
            </setting>
            <setting name="AmendResistance" serializeAs="String">
                <value>0</value>
            </setting>
        </JH.ACU.BLL.Properties.Settings>
    </userSettings>
</configuration>